<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Customer Details -->
  <h2>Customer Details</h2>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="customer.name" [disabled]="!isEditing"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Phone</ion-label>
    <ion-input [(ngModel)]="customer.phoneNumber" [disabled]="!isEditing"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="customer.email" [disabled]="!isEditing"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="editCustomerDetails()">
    {{ isEditing ? 'Cancel' : 'Edit Details' }}
  </ion-button>
  <ion-button expand="block" (click)="saveCustomerDetails()" *ngIf="isEditing">
    Save
  </ion-button>
  <!--Manage address-->
  <div class="address-management">
    <button class="edit-button"><ion-icon name="create"></ion-icon></button>
    <span class="address-label bigger-text">Manage Address</span>
  </div>
  <!-- Past Orders -->
  <h2>Past Orders</h2>
  <ion-list>
    <ion-item *ngFor="let order of pastOrders; let i = index">
      <ion-label>
        <h3>{{ order.restaurantName }}</h3>
        <p>Total Amount: ${{ totalAmounts[i] }}</p>
        <!-- Hardcoded 'Delivered' and tick sign -->
        <p>Delivered <ion-icon name="checkmark-circle-outline"></ion-icon></p>
      </ion-label>
      <!-- Reorder Button -->
      <ion-button slot="end" (click)="reorder(order)" color="secondary">
        Reorder
      </ion-button>
    </ion-item>
  </ion-list>
  <!-- Get Help Button -->
  <ion-button expand="block" (click)="showHelpAlert()" color="primary">
    <ion-icon name="help-circle"></ion-icon> Get Help
  </ion-button>
</ion-content>

<!-- Navigation to Tabs -->
<ion-footer>
  <ion-toolbar>
    <div class="tab-buttons-container">
      <!-- Home Tab Button -->
      <ion-tab-button tab="home" routerLink="/home" [routerLinkActive]="'active'">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <!-- Search Tab Button -->
      <ion-tab-button tab="search" routerLink="/search" [routerLinkActive]="'active'">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <!-- Cart Tab Button -->
      <ion-tab-button tab="cart" routerLink="/cart" [routerLinkActive]="'active'">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>

      <!-- Account Tab Button -->
      <ion-tab-button tab="account" routerLink="/account" [routerLinkActive]="'active'">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>
